:root {
  --input-border-color: #e4e7ec;
  --input-border: 1px solid var(--input-border-color);
  --divider-color: #deedfe;
  --panel-padding: 24px;
  --drag-area-color: #f5fafe;
  --drag-area-border-color: #deedfe;
  --page-title-color: ##344054;
  --padding-charactor-counter: 5rem;
  --sjs-general-backcolor-dim: transparent;
}

/* make sv-popup on mobile size should display as bottom sheet */
.sv-popup.sv-popup--overlay .sv-popup__body-content {
  position: fixed;
  bottom: 0;
}
/* make sure the bottom sheet content height must not overlap with our nav menu */
.sv-dropdown-popup.sv-popup--overlay .sv-popup__body-content {
  height: calc(var(--sv-popup-overlay-height, 100vh) - 5.5rem);
}

/* panel */
.sd-element--with-frame.sd-element--compact {
  background-color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 3px 10px 0px rgba(132, 147, 198, 0.12), 0px 1px 6px 0px rgba(181, 201, 235, 0.15);
}
.sd-element--with-frame {
  padding: var(--panel-padding) !important;
}
.sd-page__row.sd-row--compact {
  margin-top: 24px;
}

/* normal input */
.sd-input {
  border: var(--input-border);
  background-color: transparent;
  box-shadow: none;
  padding: 10px 16px;
  border-radius: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.sd-input:focus:has(+ .sd-remaining-character-counter) {
  padding-right: var(--padding-charactor-counter);
}
.sd-input:focus {
  box-shadow: none;
}

/* question */
.sd-question__header--location-top {
  padding-bottom: 4px;
}
.sd-element__title span {
  line-height: 16px;
}
.sd-question--disabled .sd-question__content {
  opacity: 0.25;
}

/* panel title */
h4.sd-title.sd-element__title {
  font-weight: 600;
  color: #000;
}
h4.sd-title.sd-element__title span {
  line-height: 32px;
  font-size: 22px;
}
.sd-element--complex.sd-element--with-frame > .sd-element__header--location-top {
  padding-top: 0px;
  padding-bottom: 0px;
}
.sd-element--complex > .sd-element__header--location-top:after {
  display: none;
}

/* error box background */
.sd-question__erbox--outside-question {
  background-color: transparent;
}

/* error box margin */
.sd-question__erbox--below-question {
  margin-top: 4px;
}

/* error box padding */
.sd-question__erbox {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  font-weight: 400;
}

/* input error state */
.sd-input--error {
  background-color: transparent;
  border-color: var(--sjs-special-red, #d92d20);
}

/* radio */
.sd-item--checked .sd-item__decorator {
  background: var(--sjs-primary-backcolor, var(--primary, #19b394));
}
.sd-item__control:checked:focus + .sd-item__decorator {
  background: var(--sjs-primary-backcolor, var(--primary, #19b394));
}
.sd-radio--checked .sd-radio__control:focus + .sd-radio__decorator {
  border: none;
}
.sd-radio--checked .sd-radio__control:focus + .sd-radio__decorator:after {
  background-color: var(--sjs-primary-forecolor, var(--primary-foreground, #fff));
}
.sd-item__decorator {
  background-color: transparent;
  border: var(--input-border);
}
.sd-item {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* checkbox */
.sd-checkbox {
  margin-bottom: 16px;
}
.sd-item__control:focus + .sd-item__decorator {
  box-shadow: none;
}
.sd-item--allowhover .sd-selectbase__label:hover .sd-item__decorator {
  background: transparent;
}
.sd-checkbox__decorator {
  border-radius: 6px;
  width: 22px;
  height: 22px;
}
.sd-checkbox--checked .sd-checkbox__control:focus + .sd-checkbox__decorator .sd-checkbox__svg use {
  fill: var(--sjs-primary-forecolor, var(--primary-foreground, #fff));
}

/* radio button */
.sd-radio {
  margin-bottom: 16px;
}

/* complete button */
#sv-nav-complete {
  margin-left: auto;
}
.sd-body__navigation .sd-btn {
  font-size: 18px;
  line-height: 28px;
  border-radius: 8px;
  padding: 10px 40px;
}
.sd-btn:focus {
  box-shadow: none;
}

/* file upload */
.sd-file {
  margin-top: 12px;
  min-height: 216px;
}
.sd-file__decorator {
  background-color: var(--drag-area-color);
  border: 1px dashed var(--drag-area-border-color);
  border-radius: 8px;
  flex-direction: column-reverse;
}
.sd-file__clean-btn,
.sd-question--answered .sd-file__choose-btn {
  padding: 0px 0px;
  width: 40px;
  height: 40px;
  background-position: center center;
  background-size: contain;
  background-image: url('../../public/icons/icon-trash.svg');
  background-color: transparent;
  top: 16px;
  right: 16px;
}
.sd-question--answered .sd-file__choose-btn {
  background-image: url('../../public/icons/icon-upload.svg');
  right: calc(16px + 40px + 16px);
}

.sd-file__remove-file-button {
  padding: 0px 0px;
  width: 24px;
  height: 24px;
  background-position: center center;
  background-size: contain;
  background-image: url('../../public/icons/icon-remove-item.svg');
  background-color: transparent;
}

.sd-file__clean-btn svg.sv-svg-icon,
.sd-question--answered .sd-file__choose-btn svg.sv-svg-icon,
.sd-file__remove-file-button svg.sv-svg-icon {
  display: none;
}

.sd-file__preview img + .sd-file__remove-file-button,
.sd-file__preview img:hover + .sd-file__remove-file-button,
.sd-file__preview svg + .sd-file__remove-file-button,
.sd-file__preview svg:hover + .sd-file__remove-file-button,
.sd-file__preview .sd-file__remove-file-button:hover {
  top: 0px;
  left: 100%;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
}

.sd-file__preview img {
  border-radius: 4px;
  border-bottom: 8px solid #22ab68;
}

.sv-svg-icon.sd-file__default-image > use {
  display: none;
}
.sv-svg-icon.sd-file__default-image {
  display: block;
  width: 48px;
  height: 48px;
  padding: 24px;
  background-image: url(/icons/file-upload.svg);
  background-position: center center;
  background-size: contain;
  content: '';
  background-repeat: no-repeat;
}

.sd-file__image-wrapper img:not(.sd-file__default-image) {
  width: 120px;
  height: 120px;
}
.sd-file__image-wrapper {
  min-width: 120px;
  min-height: 120px;
}
.sd-file__preview {
  margin: 0px 12px;
}
.sd-file__sign {
  display: none;
}

.sd-file__list {
  justify-content: center;
  padding-bottom: 16px;
  padding-top: calc(16px + 40px + 24px);
}

/* dropdown */
.sd-dropdown__value {
  padding: 0px 16px 0px 0px;
}

.sd-dropdown__value .sd-dropdown__filter-string-input {
  padding: 0px 16px 0px 0px;
}

.sd-input.sd-dropdown:focus-within {
  box-shadow: none;
}

.sv-popup__body-content {
  max-height: 300px !important;
}

/* textarea */
textarea.sd-input {
  resize: vertical !important;
  overflow-y: auto;
  text-wrap: wrap;
}

/* custom wrapper */
.survey-elevated-panel .sd-page {
  background-color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 3px 10px 0px rgba(132, 147, 198, 0.12), 0px 1px 6px 0px rgba(181, 201, 235, 0.15);
  max-width: initial;
  padding: calc(5 * var(--sjs-base-unit, var(--base-unit, 8px))) calc(5 * var(--sjs-base-unit, var(--base-unit, 8px)))
    calc(3 * var(--sjs-base-unit, var(--base-unit, 8px)));
  box-sizing: border-box;
}

.sd-container-modern .sd-page.sd-body__page.sd-page__empty-header {
  padding-top: 0;
}

.sd-page .sd-page__title {
  color: var(--page-title-color);
  width: 100%;
}

.survey-elevated-panel .sv-title-actions {
  justify-content: space-between;
  align-items: center;
}

.survey-elevated-panel .sd-page .sd-page__title {
  padding: 24px 24px 0px;
}

.survey-elevated-panel .sd-title .sd-page__title {
  color: var(--page-title-color);
  font-size: 22px;
  line-height: 32px;
}

.survey-elevated-panel .sv-title-actions__title {
  font-size: 22px;
  line-height: 32px;
}

.survey-elevated-panel .sd-body.sd-body--responsive .sd-page {
  padding-top: 0px;
}

.survey-elevated-panel .sd-element--with-frame.sd-element--compact {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.survey-elevated-panel .sd-page__row.sd-row--compact {
  margin-top: 0px;
}

.survey-elevated-panel h4.sd-title.sd-element__title span {
  font-size: 18px;
  line-height: 28px;
}

.survey-elevated-panel .panel-divider {
  height: 1px;
  background-color: var(--divider-color);
  margin-left: var(--panel-padding);
  margin-right: var(--panel-padding);
}

.sv-title-actions .sv-action-title-bar {
  justify-content: space-between;
}

.sv-action--hidden {
  display: none !important;
}

/* custom input with icon */
[data-name='tiktok'] .sd-input.sd-input[type='url'],
[data-name='instagram'] .sd-input.sd-input[type='url'],
[data-name='facebook'] .sd-input.sd-input[type='url'],
[data-name='website'] .sd-input.sd-input[type='url'] {
  padding-left: calc(16px + 24px + 8px);
  box-sizing: inherit;
  width: 100%;
  height: auto;
}
[data-name='tiktok'] .sd-text__content:after,
[data-name='instagram'] .sd-text__content:after,
[data-name='facebook'] .sd-text__content:after,
[data-name='website'] .sd-text__content:after {
  content: '';
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 16px;
  top: 10px;
  background-position: center center;
  background-size: contain;
  background-image: url('../../public/icons/icon-instagram.svg');
}
[data-name='tiktok'] .sd-text__content:after {
  background-image: url('../../public/icons/icon-tiktok.svg');
}
[data-name='facebook'] .sd-text__content:after {
  background-image: url('../../public/icons/icon-facebook.svg');
}
[data-name='website'] .sd-text__content:after {
  background-image: url('../../public/icons/icon-website.svg');
}

.sd-file__decorator:after {
  display: block;
  width: 93px;
  height: 64px;
  padding: 32px;
  background-image: url('../../public/icons/icon-upload.svg');
  background-position: center center;
  background-size: contain;
  content: '';
  background-repeat: no-repeat;
}

.sd-question--answered .sd-file__decorator:after {
  display: none;
}

.sv-components-column.sv-components-column--expandable.sd-body.sv-components-column.sv-components-column--expandable {
  padding: 40px 0px 40px 0px;
}
